<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/public/css/bootstrap.css" />
    <link rel="stylesheet" href="/public/css/style.css" /> {{!--
    <link rel="stylesheet" href="https://v4-alpha.getbootstrap.com/examples/narrow-jumbotron/narrow-jumbotron.css" />--}}
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/public/js/bootstrap.js"></script>
    <script src="/public/js/js.js"></script>
    <script src="/public/js/tabEvents.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>
    <script src="/public/js/dialog.js"></script>
    <script src="/public/js/delete.js"></script>
    <script src="/public/js/tota11y.min.js"></script>

    <title>L&F</title>
</head>

<body background="/public/images/background.png">
    <div class="container">
        <div class="header clearfix">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand large-title">Lost & Found</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav nav-pills pull-right">
                            <li role="presentation"><a href="/home">Home</a></li>
                            {{#if user}}
                            <li role="presentation"><a href="/dashboard">Dashboard</a></li>
                            <li role="presentation"><a href="/logout">Logout</a></li>
                            {{else}}
                            <li role="presentation"><a href="/register">Register</a></li>
                            <li role="presentation"><a href="/login">Login</a></li>
                            {{/if}}
                            <li role="contact us"><a href="/contactus">Contact us</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
                </nav>
        </div>




        <div class="row marketing">
            <div class="col-lg-12">
                {{#if success_msg}}
                <div class="alert alert-success">
                    <label>{{success_msg}}</label>
                </div>
                {{/if}} {{#if err_msg}}
                <div class="alert alert-danger">
                    <label>{{err_msg}}</label>
                </div>
                {{/if}} {{#if error}}
                <div class="alert alert-danger">
                    <label>{{error}}</label>
                </div>
                {{/if}} {{{body}}}

            </div>
        </div>


        <footer class="footer">
            <p>&copy; 2017 CGU Webster, Inc.</p>
        </footer>
</body>

</html>