<main>
    <header><h2 class="page-header">Found</h2></header>
    <form style="display: inline" action="/" method="get">
        <button type="submit" class="btn btn-default" aria-label="Left Align">Return</button>
    </form>
    {{#if user.isAdmin}}
    <button class="btn btn-danger" aria-label="Left Align" onclick="sendDelete('found', '{{found._id}}')">Delete Article</button>
    {{/if}}
    <form role="form">
    <fieldset disabled>
        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" class="form-control" type="text" placeholder="title" value="{{found.title}}" >
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input id="description" class="form-control" type="text" placeholder="description" value="{{found.description}}">
        </div>
        <div class="form-group">
            <label for="timestamp">Time</label>
            <input id="timestamp" class="form-control" type="text" placeholder="timestamp" value="{{found.timestamp}}">
        </div>
        <div class="form-group">
            <label for="solved">Solved</label>
            <input id="solved" class="form-control" type="text" placeholder="solved" value="{{found.solved}}">
        </div>

        <h4>Comments:</h4>
        <div class="comment-div">
            {{#if found.comments}}
            {{#each found.comments}}
            <div class="alert alert-info" role="alert">
                <label>PosterId: {{posterId}}</label>
                <br/>
                <label>Comment: {{comment}}</label>
                <label>@{{timestamp}}</label>
            </div>
            {{/each}}
            {{else}}
            <h4>Login and leave the first comment.<h4>
            {{/if}}
        </div>
    </fieldset>
    </form>
    <form method="POST">
    {{#if user}}
        <div class="form-group">
            <label for="comment">Comment</label>
            <input id="comment" name="comment" class="form-control" type="text" placeholder="comment">
        </div>       
        <button type="submit">Submit</button> 
    {{else}}
        <div class="form-group">
            <label for="comment">Comment</label>
            <input id="comment" name="comment" class="form-control" type="text" placeholder="comment" disabled>
        </div>       
        <button type="submit" disabled>Submit</button> 
    {{/if}}
    </form>
</main>